.postsListContainer {
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 10px gray;
    padding: 5px;
    margin-top: 10px;
}

.postsList {
    background-color: rgba(179, 212, 255, 0.397);
    box-shadow: 0px 5px 10px gray;
    min-width: 900px;
    display: flex;
    flex-direction: column;
    padding: 10px 50px;
    width: 50%; 
    margin: 10px;
}

.postsList h2, h3, a {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-decoration: none;
}
