.topbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: rgba(179, 212, 255, 0.397);
    box-shadow: 0px 5px 10px gray;
    border: 1px solid transparent;
}

.topbar form {
    display: inline-flex;
    align-items: center;
}

.logo {
    height: 80%;;
}

.searchBar {
    margin: 10px;
    padding: 10px;
    min-width: 300px;
    height: 80%;
    border-radius: 15px;
}

.submitButton {
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    height: 70%;
}

.submitButton:hover {
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    height: 70%;
    background-color: rgba(255, 166, 0, 0.377);
}

.searchIcon {
    height: 20px
}

