.sidebar {
    width: 600px;
    padding: 10px;
    border-right: 1px solid #ddd;
    background-color: rgba(179, 212, 255, 0.397);
    margin: 5px;
    box-shadow: 0px 5px 10px gray;
}
.subredditButton {
    width: 90%;
}